<template>
    <p v-on:click="increment">getter count: {{count}} - {{missisipiCount}}</p>
</template>

<script>
  import {mapState, mapGetters, mapActions} from 'vuex'

  export default {
    name: 'getters-example',
    computed: {
      foo() {
        return 'bar';
      },
      ...mapState({
        count: 'count'
      }),
      ...mapGetters({
        missisipiCount: 'missisipiCount'
      }),
    },
    methods: {
      ...mapActions({
        increment: 'incrementAndNotify'
      })
    }
  }
</script>

<style scoped>

</style>