<template>
    <div>
        <p>--- handlers usage example ---</p>
        <point-picker :name="'handlers-example-picker'" :point="examplePoint" @point-changed="onPointChanged"></point-picker>
        <p>({{examplePoint.x}}, {{examplePoint.y}})</p>

        <string-list :name="'handlers-example-string-list'" :value="exampleList" @input="onListChanged"></string-list>
        <p>{{exampleList.join(', ')}}</p>
    </div>
</template>

<script>
  export default {
    name: "handlers-example",
    data: function () {
      return {
        examplePoint: {x: 0.4, y: 0.4},
        exampleList: ['h1', 'h2', 'h3'],
        markers: []
      }
    },
    methods: {
      onPointChanged: function(point) {
        console.log('point changed', point);
      },
      onListChanged: function(list) {
        console.log('list changed', list);
        this.exampleList = list;
      }
    }
  }
</script>

<style scoped>

</style>