<template>
    <div>
        <karas-list :value="items" :selected="0" @requestAdd="addA" @requestRemoveAt="removeAt"></karas-list>
        <karas-list :value="items" :selected="1" @requestAdd="addB" @requestRemoveAt="removeAt"></karas-list>
        <karas-list v-if="isListVisible" :value="items" :selected="0" @requestAdd="addC" @requestRemoveAt="removeAt"></karas-list>
        <button @click="toggleList">Toggle</button>
    </div>
</template>

<script>
  import {KarasA, KarasB, KarasC} from "../view-models/karas";

  export default {
    name: "karas-example",
    data: function () {
      let items = [new KarasA('raz'), new KarasB('dwa'), new KarasC('trzy')];
      return {
        items: items,
        isListVisible: true
      }
    },
    methods: {
      addA: function(label) {
        this.items.push(new KarasA(label));
      },
      addB: function(label) {
        this.items.push(new KarasB(label));
      },
      addC: function(label) {
        this.items.push(new KarasC(label));
      },
      removeAt: function(index) {
        if (this.items.length < 4) {
          return;
        }

        if (-1 < index && index < this.items.length) {
          this.items.splice(index, 1);
        }
      },
      toggleList: function(event) {
        this.isListVisible = !this.isListVisible;
        event.preventDefault();
      }
    }
  }
</script>

<style scoped>


</style>