<template>
    <div>
        <input v-on:keydown.enter="add">
        <div v-for="(item, index) in items">
            <p v-bind:class="{'selected': selected === index}">{{item}} <span class="button" v-on:click="removeAt(index)"></span></p>
        </div>
    </div>
</template>

<script>
  import {Karas, KarasA, KarasB, KarasC} from "../view-models/karas";

  function createLabel(item) {
    if (item instanceof KarasA) {
      return 'A: ' + item.label;
    }

    if (item instanceof KarasB) {
      return 'B: ' + item.label;
    }

    if (item instanceof KarasC) {
      return 'C: ' + item.label;
    }

    if (item instanceof Karas) {
      return item.label;
    }

    throw new Error('Unsupported item class');
  }

  export default {
    name: "karas-list",
    props: {
      value: {
        type: Array,
        default: function () {
          return []
        }
      },
      selected: {
        type: Number,
        default: function () {
          return -1;
        }
      }
    },
    data: function () {
      return {
        items: this.value.map(createLabel),
      }
    },
    created: function() {
      console.log('list created');
    },
    destroyed: function() {
      console.log('list destroyed');
    },
    watch: {
      value: function (oldValue, newValue) {
        this.items = newValue.map(createLabel);
      }
    },
    methods: {
      add: function (event) {
        this.$emit('requestAdd', event.target.value);
        event.target.value = '';
        event.preventDefault();
      },
      removeAt: function (index) {
        this.$emit('requestRemoveAt', index);
      }
    }
  }
</script>

<style scoped>
    .selected {
        font-weight: bold;
    }

    .button {
        color: white;
        background-color: #A00;
        border-radius: 50%;
        vertical-align: baseline;
        width: 1em;
        height: 1em;
        display: inline-block;
        text-align: center;
        font-weight: bold;
        position: relative;
        cursor: pointer;
    }

    .button:after,
    .button:before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 0.5em;
        height: 0.1em;
        background-color: white;
        top: 50%;
        left: 50%;
    }

    .button:after {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .button:before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
</style>