<template>
    <div>
        <p>dupa: {{dupa}}</p>
        <div class="canvas" v-on:mousedown="setPoint">
            <span class="dot" v-bind:style="{left: (currentValue.x * 100)+ '%', top: (currentValue.y * 100) + '%'}">
                <span class="label">({{currentValue.x}}, {{currentValue.y}})</span>
            </span>
        </div>
        <input type="hidden" :name="name + '[x]'" :value="currentValue.x"/>
        <input type="hidden" :name="name + '[y]'" :value="currentValue.y"/>
    </div>
</template>

<script>
  import Point from '../view-models/point';

  export default {
    name: "point-picker",
    model: { // this is v-model attribute configuration
      prop: 'point', // name of property which will be bond - default is 'value'
      event: 'point-changed' // name of event which will be enforicing to update property bond by v-model - default is 'input'
    },
    props: { // list of all attributes which are inputs for the component
      dupa: {
        type: String,
        default: '',
      },
      name: {
        type: String,
        default: "picker"
      },
      point: {
        type: Object,
        default: function () {
          return {x: 0, y: 0}
        }
      }
    },
    data: function () { // list of all properties which are available inside the component
      return {
        currentValue: new Point(this.point.x, this.point.y)
      };
    },
    methods: { // list of all methods which are executed in context of component instance
      setPoint: function (event) {
        const bounds = event.currentTarget.getBoundingClientRect();
        const mouseX = event.clientX - bounds.x;
        const mouseY = event.clientY - bounds.y;

        this.currentValue.x = mouseX / event.currentTarget.clientWidth;
        this.currentValue.y = mouseY / event.currentTarget.clientHeight;

        this.$emit('point-changed', {x: this.currentValue.x, y: this.currentValue.y});
      }
    }
  }
</script>

<style scoped>
    .canvas {
        width: 200px;
        height: 200px;
        background-color: #DDD;
        position: relative;
        cursor: pointer;
    }

    .dot {
        display: inline-block;
        position: absolute;
        width: 10px;
        height: 10px;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        background-color: #A00;
        transform: translate(-50%, -50%);
    }

    .label {
        position: absolute;
        top: 10px;
        left: 10px;
        white-space: nowrap;
    }
</style>