<template>
    <p v-on:click="increment">store.count: {{count}} - {{missisipiCount}}</p>
</template>

<script>
  export default {
    name: "store-example",
    computed: {
      count: function () {
        return this.$store.state.count;
      },
      missisipiCount: function () {
        return this.$store.getters.missisipiCount;
      }
    },
    methods: {
      increment: function () {
        this.$store.commit('incrementCount');
      }
    }
  }
</script>

<style scoped>

</style>