<template>
    <div>
        <input v-on:keydown.enter="add">
        <div v-for="(item, index) in items">
            <input type="hidden" :name="name + '[]'" :value="item"/>
            <p>{{item}} <span class="button" v-on:click="removeAt(index)"></span></p>
        </div>
    </div>
</template>

<script>
  export default {
    name: "string-list",
    props: {
      name: {
        type: String,
        default: "string-list"
      },
      value: { // this will be assigned by v-model by default
        type: Array,
        default: function () {
          return []
        }
      }
    },
    data: function () {
      return {
        items: this.value.concat() // make a copy of input value so we will not mutate input value
      }
    },
    watch: {
      value: function (newValue) {
        this.items = newValue.concat();
      }
    },
    methods: {
      add: function (event) {
        if (event.target.value) {
          this.items.push(event.target.value);
          event.target.value = '';
          this.$emit('input', this.items.concat()); // this emits v-model value update
        }
        event.preventDefault();
      },
      removeAt: function (index) {
        if (-1 < index && index < this.items.length) {
          this.items.splice(index, 1);
          this.$emit('input', this.items.concat()); // this emits v-model value update
        }
      }
    }
  }
</script>

<style scoped>
    .button {
        color: white;
        background-color: #A00;
        border-radius: 50%;
        vertical-align: baseline;
        width: 1em;
        height: 1em;
        display: inline-block;
        text-align: center;
        font-weight: bold;
        position: relative;
        cursor: pointer;
    }

    .button:after,
    .button:before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 0.5em;
        height: 0.1em;
        background-color: white;
        top: 50%;
        left: 50%;
    }

    .button:after {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .button:before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

</style>