<template>
    <div>
        <p>--- v-model usage example ---</p>
        <point-picker dupa="blada" name="v-model-example-picker" v-model="examplePoint"></point-picker>
        <p>({{examplePoint.x}}, {{examplePoint.y}})</p>

        <string-list :name="'v-model-example-string-list'" :value="exampleList" @input="updateList"></string-list>
        <string-list :name="'v-model-example-string-list2'" :value="exampleList" @input="updateList"></string-list>
        <string-list :name="'v-model-example-string-list3'" v-model="exampleList"></string-list>
        <p>{{exampleList.join(', ')}}</p>
    </div>
</template>

<script>
  export default {
    name: "v-model-example",
    data: function () {
      return {
        examplePoint: {x: 0.1, y: 0.1},
        exampleList: ['1', '2', '3']
      }
    },
    methods: {
      updateList: function(list) {
        console.log(list);
        this.exampleList = list;
      }
    }
  }
</script>

<style scoped>

</style>