<template>
    <div ref="map-component" class="map">
    </div>
</template>

<script>
  import 'leaflet'
  import './L.ImageTransform';

  export default {
    name: 'leaflet',
    props: {
      items: {
        type: Array,
        default: () => []
      },
      center: {
        type: L.LatLng,
        default: () => new L.LatLng(0, 0)
      },
      bounds: {
        type: L.LatLngBounds,
        default: () => new L.LatLngBounds([-1, -1], [1, 1])
      }
    },
    computed: {

    },
    watch: {
      items: function(newValue, oldValue) {
        for(let item of oldValue) {
          item.mapItem.off('click', this.itemClicked);
          this.map.removeLayer(item.mapItem);
        }

        for(let item of newValue) {
          item.mapItem.on('click', this.itemClicked);
          item.mapItem.addTo(this.map);
        }
      }
    },
    mounted: function () {
      this.map = L.map(this.$refs["map-component"], {
        zoom: 2
      });
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZnVyYSIsImEiOiJjamU4ZDY4ZzMwbnRpMnptOXZiZmx3bHNyIn0.5mreeniH54GRqOxevQmSuA', {
        //attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 25,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoiZnVyYSIsImEiOiJjamU4ZDY4ZzMwbnRpMnptOXZiZmx3bHNyIn0.5mreeniH54GRqOxevQmSuA'
      }).addTo(this.map);

      this.map.fitBounds(this.bounds);
      this.map.on('click', this.mapClicked);

      for(let item of this.items) {
        item.mapItem.on('click', this.itemClicked);
        item.mapItem.addTo(this.map);
      }
    },
    destroyed: function () {

    },
    methods: {
      mapClicked: function(e) {
        this.$emit('mapClicked', e.latlng);
      },
      itemClicked: function(e) {
        console.log(e);
      }
    }
  }
</script>

<style lang="scss" scoped>
    @import "~leaflet/dist/leaflet.css";
    .map {
        background-color: #aaa;
        width: 100%;
        min-height: 300px;
        .spinner-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }
</style>
