<template>
    <div>
        <leaflet :items="items" :bounds="bounds" @mapClicked="addMarker"></leaflet>
        <leaflet :items="items" :bounds="bounds"></leaflet>
        <leaflet :items="items" :bounds="bounds"></leaflet>
    </div>
</template>

<script>
  import 'leaflet';
  import {Image, Marker, Zone} from './items';

  export default {
    name: "leaflet-example",
    data: function () {
      const marker = new Marker(new L.LatLng(52.40115, 16.8945));
      return {
        marker: marker,
        items: [
          new Image(
            'https://itscdnstorage.blob.core.windows.net/its-cdn-debug/0C7C8D97A2576D60EFF96FD22D14E028.png',
            new L.LatLng(52.40115122305535, 16.89307269529104),
            new L.LatLng(52.40125371030342, 16.895092511587563),
            new L.LatLng(52.4009571344111, 16.893102199590203)
          ),
          marker,
          new Zone(new L.LatLng(52.4010, 16.894), 10)
        ],
        bounds: new L.LatLngBounds(
          new L.LatLng(52.4009571344111, 16.89307269529104),
          new L.LatLng(52.40125371030342, 16.895092511587563)
        )
      }
    },
    methods: {
      addMarker(position) {
        this.marker.position = position;
        //this.items.push(new Marker(position));
      }
    }
  }
</script>

<style scoped>

</style>